* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-size: 20px;
    padding: 1rem;
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

.add-item {
    width: 40%;
    margin-bottom: 1rem;
    display: flex;
}

.add-item input {
    flex-grow: 1000000;
    margin-right: 1rem;
}

.btn-add {
    flex-grow: 1;
    border: 1px solid gray;
}

.container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 50%;
    padding: 2rem;
    background-color: #999999;
    border-radius: .8rem;
    list-style: none;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.todo-item span{
    padding: 1rem 0;
    flex-grow: 1;
}

.todo-item:hover {
    background-color: white;
    cursor: pointer;
}



.done span{
    text-decoration: line-through;
}